<!DOCTYPE html>
<html lang="en">

<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> Voya Wealth Management - User Dashboard </title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/Build/assets/css/app.min.css">
  <link rel="stylesheet" href="/Build/assets/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/Build/assets/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/Build/assets/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/Build/assets/bundles/summernote/summernote-bs4.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/Build/assets/css/style.css">
  <link rel="stylesheet" href="/Build/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/Build/assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/Build/assets/img/favicon.png' />
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <div class="form-inline me-auto">

          <ul class="navbar-nav mr-3">
            <li><a href="#" data-bs-toggle="sidebar" class="nav-link nav-link-lg
        collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline me-auto">
                <div class="search-element d-flex">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">






          <li class="dropdown"><a href="#" data-bs-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="/Build/assets/img/profile.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello <%= user %></div>
              <a href="/user/manager" class="dropdown-item has-icon"> <i class="far fa-user"></i>Account
                Managers</a>
              <a href="/user/profile" class="dropdown-item has-icon"> <i class="far fa-user"></i> Manage
                Profile</a>

              <a href="/user/password" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Manage Password
              </a>
              <!-- 
<a href="/user/manager" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>Account Managers </a> -->
              <a href="/user/referral" class="dropdown-item has-icon"> <i class="fas fa-users"></i>My
                Referrals </a>
              <div class="dropdown-divider"></div>
              <a href="/user/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>




        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">

          <div class="sidebar-user">
            <div class="sidebar-user-details">
              <div class="user-name"><i class="fa fa-home fa-2x" class="bg-primary"></i> Hello! <%= user %>
              </div>
            </div>
          </div>





          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>


            <li class="dropdown active">
              <a href="/user/dashboard" class="nav-link">
                <i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>

            <li><a class="nav-link" href="/user/market"><i class="fas fa-sliders-h"></i><span>Market
                  Chart</span></a></li>


            <li><a class="nav-link" href="/user/my-investment"><i class="fas fa-hand-holding-usd"></i><span>My
                  Investment</span></a></li>

            <li><a class="nav-link" href="/user/invest"><i class="fas fa-money-bill-alt"></i><span>Invest</span></a></li>

            <li><a class="nav-link" href="/user/reinvest"><i class="fas fa-money-bill"></i><span>Reinvest</span></a></li>


            <li><a class="nav-link" href="/user/transfer"><i class="fas fa-exchange-alt"></i><span>Fund
                  Transfer</span></a></li>


            <li><a class="nav-link" href="/user/withdraw"><i class="fas fa-hand-holding-usd"></i><span>Request
                  Withdrawal</span></a></li>

            <li><a class="nav-link" href="/user/profile"><i class="fas fa-user-shield"></i><span>Profile</span></a></li>
            <li><a class="nav-link" href="/user/history"><i class="fas fa-receipt"></i><span>Transacton
                  History</span></a></li>
            <li><a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i><span>Logout</span></a></li>



          </ul>



        </aside>
      </div>











      <!-- Main Content -->
      <div class="main-content">
        <section class="section">


          <div class="modal-body" id="pageBody">
            <div class="card " id="depositCard">

              <div class="card-body">
                <div class="actions-toolbar py-2 mb-4">
                  <p class="text-sm text-muted mb-0">To change your password, kindly enter your old password, followed
                    by your new password twice. You are advised to chose a very strong password</p>
                </div>


                <form id="profileForm" method="POST"
                  action="https://teslastckandinvestment.com/dashboard/process/changepassword.php">

                  <div class="alert " id="profileAlert"></div>

                  <div class="form-group">
                    <label for=""> Old Password</label>
                    <input class="form-control" data-error="Kindly enter your old password" id="OldPassword"
                      placeholder="Current Password" required="" name="password" type="password">
                    <div class="help-block form-text with-errors form-control-feedback">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> Password</label>
                        <input class="form-control" data-minlength="6" id="NewPassword" placeholder="New Password"
                          required="" name="new_password" data-val="true" autocomplete="off" data-val-length="*"
                          minlength="" maxlength="25" data-val-length-max="25" data-val-regex="*"
                          data-val-regex-pattern="" data-val-required="*" type="password">
                        <div class="help-block form-text text-muted form-control-feedback">Minimum of 6 characters</div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input class="form-control" data-match-error="Passwords don't match"
                          placeholder="Confirm Password" required="required" type="password" name="confirm_password">
                        <div class="help-block form-text with-errors form-control-feedback">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-buttons-w">
                    <input name="updateData" value="yes" type="hidden">
                    <button name="updateData" class="btn btn-primary" type="submit" id="profileBtn"> Submit</button>
                  </div>
                </form>


              </div>
            </div>
          </div>


        </section>











      </div>

      <footer class="main-footer">
        <div class="footer-left">
          © 2024 Voya Wealth Management. All rights reserved.
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/Build/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="/Build/assets/bundles/echart/echarts.js"></script>
  <script src="/Build/assets/bundles/chartjs/chart.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/Build/assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="/Build/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/Build/assets/js/custom.js"></script>
</body>

</html>